body{
    margin: 0%;
}
.ggl{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    flex-shrink: 0;
    box-sizing: border-box;
    max-height: 290px;
    height: calc(100% - 560px);
    min-height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}
button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.btn{
    text-align: center;
    margin: 2px;
}
.lang{
    font-family: arial,sans-serif;
    text-align: center;
    font-size: small;
    line-height: 28px;
    color: #1a0dab;
    text-decoration: none;
    padding: 0 3px;
    
}
.pp{
    text-align: center;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: small;
    line-height: 28px;
}
.blk{
margin-top: 49px;
float: right;
}
srch{
    font-family: arial,sans-serif;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}
.HPVvwb{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    cursor: pointer;
    line-height: 44px;
    height: 24px;
    width: 24px;
    vertical-align: middle;
}
.srchbar{
    text-align: center;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    }
.ftr{
    background-color:#eee;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #eee;
    position:fixed;
    bottom: 0;
    width: 100%;
}
.ind{
    font-family: arial,sans-serif;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    border-width: 100%;
    font-size: 14px;
    color: rgba(0,0,0,.54);
}
.left{
    display:block;
    padding:15px;
    white-space:nowrap;
    background-color: #eee;
}
.right{
    float: right;
    display:block;
    padding:15px;
    margin-top: -47px;
    background-color: #eee;
}
.link{
    background-color: #eee;
    color:#70757a;
    padding: 15px 13px;
    text-decoration: none;
}


/*  https://en.wikipedia.org/wiki/Grassroots
https://en.wikipedia.org/wiki/Volunteering
https://en.wikipedia.org/wiki/Mahatma_Gandhi
https://en.wikipedia.org/wiki/Julian_Assange
https://en.wikipedia.org/wiki/Nelson_Mandela  */
