body,html{
    margin: 0%;
    height: 100%;
}
.svgofp{
    cursor: pointer;
    fill: currentColor;
    color: #5f6368;
    opacity: 1;
    padding: 4px;
}
.blk2{
    float: right;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    white-space: nowrap;
    -webkit-user-select: none;
    line-height: normal;
    cursor: pointer;
    fill: currentColor;
    opacity: 1;
    padding: 2px 18px 0px 4px;
}
.blk{
    float: right;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    font-family: arial,sans-serif;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    line-height: 24px;
    vertical-align: middle;
    padding: 18px 20px 12px 0px;
}
.ggl{
    
    position: absolute;
    text-align: center;
    height: 100%;
    margin-top: 540px;
}
.imgg{
    margin-top: 11.2%;
    margin-left: 41.1%;    
}
button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.btn{
    text-align: center;
    padding: 18px 0px 0px;
}
.pp{
    text-align: center;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: small;
    line-height: 28px;
}

.lang{
    font-family: arial,sans-serif;
    text-align: center;
    font-size: small;
    line-height: 28px;
    color: #1a0dab;
    text-decoration: none;
    padding: 0 3px;
}
#srch{
    font-family: arial,sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    /*-webkit-tap-highlight-color: transparent;*/
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}
.srchbar{
    text-align: center;
    padding: 20px;
    }

.ftr{
    background-color:#eee;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #eee;
    position:fixed;
    bottom: 0;
    width: 100%;
}
.ind{
    font-family: arial,sans-serif;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    border-width: 100%;
    font-size: 14px;
    color: rgba(0,0,0,.54);
}
.left{
    display:block;
    padding:15px;
    white-space:nowrap;
    background-color: #eee;
}
.right{
    float: right;
    display:block;
    padding:15px;
    margin-top: -47px;
    background-color: #eee;
}
.link{
    background-color: #eee;
    color:#70757a;
    padding: 15px 13px;
    text-decoration: none;
}
li{
    display: none;
}

